.DS_Store
Thumbs.db
*.log
.cursor/
**/_source/
images/
node_modules/
*.docx
src/
package.json
package-lock.json
tailwind.config.js
assets/portfolio/**/*.png
.well-known/
cgi-bin/
php/
*.zip
.webhook-secret
